<%- include('jokes-top.ejs') %>

      <div id="joke-div">
        <h2>Last word in!</h2>

        <div id="bubble">
          <div id="d1"></div>
          <div id="d2"></div>
          <div id="d3"></div>
          <p>Joke by a Word</p>
        </div>
      </div>

<%- include('jokes-form.ejs') %>

<%- include('page-foot.ejs') %>

    </div>
  </body>
</html>
