
      <form action="/byword" method="POST">
        <label for="word">Get a joke:</label>
        <input type="text" name="word" id="word" placeholder="by word search (one word, max 32 char)..." required maxlength="32" />
        <input type="submit" value="Go!" />
      </form>
