<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROFL .com</title>
    <link rel="stylesheet" href="styles/jokes.css">
  </head>
  <body>
    <div id="all-flex">
      <h1>&nbsp;&#129315; &#129315; &#129315; .com</h1>
